<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zz6628.mybatis.mapper.TestMapper">
    <select id="test" resultType="map">
        desc sms_send_report
    </select>
</mapper>